.grid {
  padding: 1em;
}

.container {
  padding: 1em;
  border: 2px solid black;
  color: red;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.row {
  border: 2px solid green;
  margin-bottom: 1em;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.column {
  border: 1px solid lime;
  padding: 1em;
  float: left;
}

.column.full {
  width: 100%
}

.column.half {
  width: 50%
}
.column.third {
  width: 33.3%
}

.column.fourth {
  width: 25%
}

.column.two-thirds {
  width: 66%;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

